* {
    padding: o;
    margin: 0;
    cursor: pointer;
}

body {
    background-color: white;

}

.main {
    display: flex;
    width: 100%;
    min-height: 100vh;

}

.main-one {
    flex-direction: left;
    background-color: #303641;
    width: 25%;

}

.main-two {
    flex-direction: right;
    background-color: #ffffff;
    width: 67%;


}

.headers {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
}

.logo-right {
    float: left;
    display: block;
    vertical-align: middle;
    white-space: nowrap;
}

.logo {
    width: 80px;
    border-radius: 50px;
}

.svg-left {
    float: right;
    border: 1px white solid;
    padding: 5px;
    position: relative;
    margin-top: 30px;
    margin-right: 30px;
    border-radius: 5px;

}

.svgz {
    width: 20px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    fill: #aaabae;
}

.clear {
    float: none;
    clear: both;
}

.main-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.main-list li {
    position: relative;
    margin: 0;
    font-size: 20px;
    border-bottom: 1px solid rgba(69, 74, 84, 0.7);
}

.main-list li a {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #aaabae;
    z-index: 2;
    list-style: none;
    text-decoration: none;
}

.theh {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 1px;
    width: 100%;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

ul {
    padding-inline-start: 40px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-block-end: 1em;
    margin-block-start: 1em;
    list-style-type: disc;
    display: block;
    list-style: none;
}


.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.pull-right a {
    text-decoration: none;
    color: #373e4a;
}

.pull-left a {
    text-decoration: none;
    color: #373e4a;
}

.clear-fix::before,
.clear-fix::after {
    display: table;
    display: table;
}

.row {
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #aaabae;
}

.col2 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.lables a {
    text-decoration: none;
    color: #303641;
    font-size: 14px;
}

.form-ds {
    align-items: center;
    text-align: center;
    border-bottom: 1PX solid #aaabae;


}

.form-ds li label {
    margin-right: 10px;
    color: #aaabae;
}

.form-ds li label .input {
    margin-left: 10px;
    padding: 10px;
    width: 100px;


}

.inputs {
    margin-left: 10px;
    padding: 15px;
    width: 250px;
    height: 5px;
    margin-bottom: 2px;
    outline: none;
}

.admin-img {
    border: 1px solid #303641;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    margin-bottom: 5px;
    padding: 20px;
}

.btn {
    border-color: #21a9e1;
    background-color: #21a9e1;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    margin-bottom: 2px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.dash-box {
    display: flex;
}

.dash1 {
    flex-direction: column;

    padding: 10px;
    margin-left: 50px;
    width: 600px;
    margin-top: 10px;
    border-radius: 15px;
    position: relative;
    min-height: 1px;
    background-color: #00b29e;
}

.admin-h1 {
    margin-left: 10px;
    color: #373e4a;
}

.detail1 {
    float: left;
    width: 10%;
    margin-top: 20px;
    color: white;
}

.detail1 h2 {
    margin-left: 10px;
}

.detail2 {
    float: right;

}

.dash-icon {
    width: 150px;
    height: 100px;
    color: rgba(0, 0, 0, 0.1);
    fill: #aaabae;
}

.manage-class {

    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.class-head {
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;

}

.class-head a {
    text-decoration: none;
    list-style: none;
    color: #373e4a;
    margin-left: 15px;
    border: 1px solid #aaabae;
    font-size: 14px;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
}

.arrow-down {
    padding: 10px;
    border: 1px solid green;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 860px;
}

.arrow-down a {
    padding: 5px;
    padding-right: 10px;
    border: 1px solid #aaabae;
    text-decoration: none;
    list-style: none;
    font-size: 15px;
    font-weight: bold;
    color: #373e4a;
    margin-left: 2px;

}

.search {
    float: right;
    margin-bottom: 10px;
}

.search-input {
    border-radius: 10px;
    border: 1px solid #aaabae;
    padding: 7px;
    outline: none;
    width: 300px;
}
.table-th{
    border: 1px solid #aaabae; 
    border-collapse: separate;
    border-spacing: 0 10px;

}
.table-th a {
    padding: 5px;
    border:1px solid #ddd;
    margin-top: 5px;
    margin-bottom: 5px;     
}
.my-th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table-th .my-th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subject_title{
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .subject_heads{
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    
  }
  table th{
    border-bottom: 1px solid #ddd;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  .search-container {
    text-align: right;
    margin-top: 2px;
  }
  .search-container input[type="text"] {
    padding: 8px;
    border-radius: 4px;
    border: none;
    margin-right:5px;
    outline: none;  
    width: 200px;
  }
  .search-container button {
    padding: 8px 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right:20px;
  }
  .dropdown-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  
  .dropdown-container select {
    padding: 8px;
    border-radius: 4px;
    border: none;
    margin-right: 40px;
  }
  .tr_select{
    padding: 8px;
    border-radius: 4px;
    border: none;
    margin-right: 40px;
    margin-left: 5px;
    background-color: antiquewhite;
  }
  .btns {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
    }
    
    
    .btns a {
      text-decoration: none;
      color: #333;
      background-color: #337ab7;
      padding: 10px 20px;
      border-radius: 15px;
      color:white;
      margin-left: 10px;
    }
    
    .btns a:hover {
      background-color: #382f2f;
    }
   
    .welcome h2{
      text-align: center;
      align-items: center;
      margin-left: 50px;
      margin-right: 50px;
      background-color: #4caf50;
      padding: 10px;
    }
    .welcome h2:hover{
      background-color: #333;
      color: #ddd;
    }
  
